<div class="overlay" style="display: none;">
</div>

<div class="drawer-inner">

	<div class="drawer-title">
		<a title="back" onclick="Common.closeDrawer('#projectPartialViewContainer')">
			<i class="nt-angle-prev"></i>
		</a>
		<h1>
			Project
		</h1>
	</div>

	<form class="drawer-form view-drawer">

		<div class="row">

			<div class="form-title">
				Project Summary
			</div>

			<div class="col-lg-6 data-detail">
				<div class="data-label">
					Project Name
				</div>
				<div class="data-val">
					Project ABC
				</div>
			</div>

			<div class="col-lg-6 data-detail">
				<div class="data-label">
					Project Code
				</div>
				<div class="data-val">
					ANZ001
				</div>
			</div>

			<div class="col-lg-6 data-detail">
				<div class="data-label">
					Sponsor Name
				</div>
				<div class="data-val">
					Abc Inc.
				</div>
			</div>

			<div class="col-lg-6 data-detail">
				<div class="data-label">
					Company Name
				</div>
				<div class="data-val">
					Xyz Inc.
				</div>
			</div>

			<div class="col-lg-6 data-detail">
				<div class="data-label">
					Status
				</div>
				<div class="data-val">
					Active
				</div>
			</div>

		</div>

		<div class="invite-botttom">

			<a class="cancel" onclick="Common.closeDrawer('#drawerViewProject')">
				<i class="nt-backward"></i>
				Cancel
			</a>

		</div>

	</form>

</div>